<div class="app-content content">
  <div class="content-wrapper">
    <div class="container">
      <div class="text-center">
          <h1>Reach Us</h1>
      </div>
      <hr />
      <div class="mapouter">
        <div class="center-block"><iframe height="500" style="width:100%;" id="gmap_canvas" src="https://maps.google.com/maps?q=Mepco%20Schlenk%20Engineering%20College&t=k&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
        <style>
          .mapouter {
            text-align: right;
            height: 500px;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
          }

        </style>
      </div>
    </div>
  </div>
</div>
