<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">

      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Events</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/user/home']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li class="breadcrumb-item active">Event
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="content-types">
        <div class="row match-height">
          <div class="col-4" *ngFor="let event of events | filterEventsBasedOnDepartment : searchText">
            <div class="card pull-up">
              <div class="card-body">
                <h3 class="card-title">{{event.title}}</h3>
                <h6 class="card-subtitle text-muted">Department of {{event.department_id.name}}</h6>
              </div>
              <img class="" src="http://localhost:3000/assests/images/events/{{event.image_name}}">
              <div class="card-body">
                {{event.description}}
              </div>
              <div class="card-body">
                Contact <p class="card-text">
                  <a href="mailto:{{event.contact_email}}">{{event.contact_email}}</a>
                </p>
              </div>
              <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                  <span class="float-left"> {{event.event_date | date }}</span>
                  <span class="float-right">
                      <a href="#" class="card-link">Read More
                          <i class="la la-angle-right"></i>
                      </a>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--  <div class="row match-height">
      <div class="col-lg-4 col-md-12" *ngFor="let event of events | filterEventsBasedOnDepartment : searchText">
        <div class="card pull-up">
          <div class="card-body">
            <h4 class="card-title">{{event.title}}</h4>
            <h6 class="card-subtitle text-muted">Department of {{event.department_id.name}}</h6>
          </div>
          <img class="" src="http://localhost:3000/assests/images/events/{{event.image_name}}" style="height: 200px"
            alt="Error Loading Image">
          <div class="card-body">
            Description
            <p class="card-text">{{event.description}}
            </p>
            Contact <p class="card-text">
              <a href="mailto:{{event.contact_email}}">{{event.contact_email}}</a>
            </p>
            <div class="container">
              <div class="row">
                <div class="panel-heading float-left" role="tab" [id]="'headingRules'+event._id">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapseRules'+event._id"
                      aria-expanded="true" [attr.aria-controls]="'collapseRules'+event._id">
                      Rules <i class="la la-angle-double-down"></i>
                    </a>
                  </h4>
                </div> &nbsp;&nbsp;|&nbsp;&nbsp;
                <div class="panel-heading float-right" role="tab" [id]="'headingTiming'+event._id">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapseTiming'+event._id"
                      aria-expanded="true" [attr.aria-controls]="'collapseTiming'+event._id">
                      Timing <i class="la la-angle-double-down"></i>
                    </a>
                  </h4>
                </div>
              </div>
            </div>
            <div [id]="'collapseRules'+event._id" class="panel-collapse collapse" role="tabpanel"
              [attr.aria-labelledby]="'headingRules'+event._id">
              <div class="panel-body">
                <h4>Rules</h4>
                {{event.rules}}
                <br />
                <br />
                <div class="danger" *ngIf="event.min_members == event.max_members">
                  Individual Event
                </div>
                <div class="success" *ngIf="event.min_members != event.max_members">
                  Teams of size {{event.min_members}} - {{event.max_members}}
                </div>
                <br />
                <br />
                Gender Mixing :
                <span class="success" *ngIf="event.allow_gender_mixing">
                  Allowed
                </span>
                <span class="danger" *ngIf="!event.allow_gender_mixing">
                  Not Allowed
                </span>
              </div>
            </div>

            <div [id]="'collapseTiming'+event._id" class="panel-collapse collapse" role="tabpanel"
              [attr.aria-labelledby]="'headingTiming'+event._id">
              <div class="panel-body">
                <h4>Timing </h4>
                <div class="row">
                  <div class="col-6">
                    Prelims : {{event.prelims}}
                  </div>
                  <div class="col-6">
                    Round 1 : {{event.round_1}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    Round 2 : {{event.round_2}}
                  </div>
                  <div class="col-6">
                    Finals : {{event.finals}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
            <div class="float-left">Date : {{event.event_date | date }}</div>
            <div class="float-right">Starts at : {{event.start_time }}</div>
          </div>
          <div *ngIf="authService.isLoggedIn()">
            <div *ngIf="!isCartConfirmed">
              <div *ngIf="event.min_members == event.max_members == 1">
                <button type="button" class="btn btn-lg btn-glow btn-bg-gradient-x-blue-purple-2" (click)="selectEvent(event._id)"
                  style="width:100%">
                  Register Now <i class="la la-angle-right"></i>
                </button>
              </div>
              <div *ngIf="event.min_members != event.max_members">
                <button type="button" [routerLink]="['/user/teamRegister',event._id]" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}" class="btn btn-lg btn-bg-gradient-x-blue-purple-2" style="width:100%">
                  Register Team <i class="la la-angle-right"></i>
                </button>
              </div>
            </div>
            <div *ngIf="isCartConfirmed">
              <button type="button" class="btn btn-lg btn-glow btn-bg-gradient-x-red-pink" style="width:100%">
                Cart already Confirmed
              </button>
            </div>
          </div>

          <div *ngIf="!authService.isLoggedIn()">
            <a class="btn btn-lg btn-glow btn-bg-gradient-x-blue-purple-2" style="width:100%" [routerLink]="['/user/login']"
              [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Login to Register</a>
          </div>
        </div>
        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
          <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 100px; right: 3px;">
          <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 100px;"></div>
        </div>
      </div>
    </div>-->
  </div>
</div>