<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Events</h4>
          <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
              <li><a data-action="reload" (click)="reloadEvents()"><i class="ft-rotate-cw"></i></a></li>
              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row" *ngFor="let event of events">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                {{ event.title }}
              </div>
              <div class="card-body">
                Department: {{ event.department_id.name }}<br>
                Description: {{ event.description }}<br>
                Rules: {{ event.rules }}<br>
                At {{ event.event_date }} From {{ event.start_time }} to {{ event.end_time }}<br>
                {{ event.min_members }}-{{ event.max_members }} max_members<br>
                <a href="mailto:{{ event.contact_email }}">Contact Mail</a><br>
                Venue: {{ event.venue }}<br>
                Amount: {{ event.amount }}<br>
                Prelims: {{ event.prelims }}<br>
                Round 1: {{ event.round_1 }}<br>
                Round 2: {{ event.round_2 }}<br>
                Finals: {{ event.finals }}<br>
                {{event.gender_mixing_text}}<br>
                <button type="button" class="btn btn-outline-success right round" (click)="selectEvent(workshop._id)">Register</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>