<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Accomodation</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active"> Accomodation
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="content-types">
        <div class="row match-height justify-content-md-center">
          <div class="col-xl-6 col-md-12">
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <span *ngIf="accomodation" [ngClass]="{'success': accomodation.acc_payment_status == 'Paid' && accomodation.acc_status == 'Confirmed'}"
                  [ngClass]="{'danger': accomodation.acc_payment_status == 'Not Paid' && accomodation.acc_status == 'Not Confirmed'}">
                  Payment Status : {{accomodation.acc_payment_status}} | Accomodation Status :
                  {{accomodation.acc_status}}
                </span>
                <span *ngIf="!accomodation">
                  Accomodation Status : Not Applied
                </span>
              </h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                </ul>
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <div *ngIf="!accomodation">
                  <form class="form" [formGroup]="accomodationForm" (ngSubmit)=onSubmit(accomodationForm.value)>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-5">
                         
                          <select class="custom-select"  placeholder="Number of Days"formControlName="acc_days">
                            <option value="0" selected disabled>Number of Days</option>  
                            <option value="1">1</option>
                            <option value="2">2</option>
                          </select>
  
                        </div>
                        <div class="col-2">
                            <button type="reset" class="btn btn-outline-success right">Reset</button>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-outline-success right">Apply</button>
                        </div>
                      </div>
                      
                    </div>
                  </form>
                </div>
                <div>
                  <div *ngIf="hasAccomodation && accomodation.acc_status=='Approved' && accomodation.acc_payment_status=='Not Paid'">
                    <div class="container">
                      <h2>Payment</h2>
                      <hr />
                      <div class="form-group">
                        <div class="row">
                          <button class="btn btn-linkedin" type="button">Pay Online</button>
                          <button class="btn btn-google" type="button" data-toggle="collapse" data-target="#DDUpload">Upload
                            Demand Draft</button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="collapse" id="DDUpload">
                          <div class="card card-body">
                            <form>
                              <input #imageInput placeholder="Select an Image" type="file" accept="image/*" (change)="processFile($event)">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="danger" *ngIf="hasAccomodation && accomodation.acc_status=='Not Confirmed' && accomodation.acc_payment_status=='Not Paid'">
                    <div class="container">
                      <h2>
                        Wait till your accomodation is opened up for payment
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
