<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Manage Participants</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active">Participants
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="modal fade" id="idModal" tabindex="-1" role="dialog" aria-labelledby="idModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="idModalLabel">Scan ID Card</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <qr-scanner [debug]="false" [stopAfterScan]="true" [updateTime]="100">
              </qr-scanner>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="teamModalLabel">Team Register</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-event-participants-team></app-event-participants-team>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Participants</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                  <li><a data-action="reload" (click)="reload()"><i class="ft-rotate-cw"></i></a></li>
                  <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <div class="row">
                  Search
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <input [(ngModel)]="searchText" placeholder="Search participants" class="form-control">
                  </div>
                  <div class="col-sm-12 col-md-6 btn-group-justified btn-group">
                    <button (click)="exportAsXLSX()" class="btn btn-success">Generate Excel</button>
                    <button data-toggle="modal" data-target="#idModal" (click)="scanID()" class="btn btn-soundcloud">Scan
                      ID Card | Individual Event</button>
                  </div>
                  <br />
                  <hr />
                  <br />
                  <div class="col-sm-12 col-md-6">
                    <button data-toggle="modal" data-target="#teamModal" class="btn btn-outline-bitbucket">Team
                      Register</button>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sl. No</th>
                          <th>Participant Name</th>
                          <th>Email</th>
                          <th>Phone No.</th>
                          <th>College</th>
                          <th>Payment</th>
                          <th>Attendance</th>
                          <th>Update Attendance</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let participant of participants | searchFilterEvent : searchText ; let i = index;   ">
                          <th scope="row">{{i+1}}</th>
                          <td>{{participant.user_id.name}}</td>
                          <td>{{participant.user_id.email_id}}</td>
                          <td>{{participant.user_id.mobile_number}}</td>
                          <td>{{participant.user_id.college_id.name}}</td>
                          <ng-container *ngIf="participant.user_id.cart_paid == true">
                            <td>Paid</td>
                          </ng-container>
                          <ng-container *ngIf="participant.user_id.cart_paid == true">
                            <td>Not Paid</td>
                          </ng-container>
                          <td>
                            <div class="row">
                              <div class="col-12">
                                <select class="custom-select" [(ngModel)]="currentAttendance">
                                  <option *ngFor="let participantStatus of participantStatuss" value="{{ participantStatus.name }}">{{
                                    participantStatus.name }}</option>
                                </select>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="fonticon-wrap icon-shadow icon-shadow-warning">
                              <a (click)="updateAttendance(participant._id)"> <i class="la la-upload la-2x"></i></a>
                            </div>
                          </td>
                          <td>
                            <div class="fonticon-wrap icon-shadow icon-shadow-danger" (click)="deleteParticipant(participant._id)">
                              <a> <i class="la la-trash la-2x"></i></a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
