<div class="app-content content">
  <div class="content-wrapper">
    <br>
    <br>
    <div class="text-center">
      <h1>Schedule</h1>
    </div>
    <br>
    <hr>
    <br>
    <div class="container">
      <div class="card pull-up">
        <div class="card-content">
          <div class="card-header">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#bus" data-toggle="tab">Events Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#train" data-toggle="tab">Workshop Schedule</a>
              </li>
            </ul>
          </div>

          <div class="card-body">
            <div class="tab-content clearfix">
              <div class="tab-pane active" id="bus">
                <div class="card">
                  <div class="card-content">
                    <div class="table-responsive">
                      <table>
                        <thead>
                          <tr>
                            <td width="8%">
                              <p><strong>Time</strong></p>
                            </td>
                            <td width="12%">
                              <p><strong>Group Name</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Workshop Name</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Venue</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Registration Fee/Person (Non-Member / Member)</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Speaker Details</strong></p>
                            </td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td width="8%">
                              <p><strong>08.00 am 09.00 am</strong></p>
                            </td>
                            <td width="12%">
                              <p><strong>&nbsp;</strong></p>
                            </td>
                            <td colspan="6" width="79%">
                              <p>Registration (At Respective Venues)</p>
                            </td>
                          </tr>
                          <tr>
                            <td rowspan="22" width="8%">
                              <p><strong>&nbsp;</strong></p>
                              <p><strong>09.30 am &ndash; 4.30 pm</strong></p>
                            </td>
                            <td rowspan="2" width="12%">
                              <p><strong>Group I(IE(I) - CIVIL &amp; IACES)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>3ds Max</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Civil Seminar Hall </strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Rs.350/-</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Autodraft Cad centre, Madurai</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>ETABS</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>CF03 &ndash; Civil Block</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Rs.350/-</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr.A.Haamidh, AP/Civil</strong></p>
                              <p><strong>&nbsp;</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td rowspan="2" width="12%">
                              <p><strong>Group II ( IE(I)-EEE)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>&nbsp;</strong></p>
                              <p><strong>Introduction to MATLAB</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Forenoon: EEG08 - </strong><strong>EEE Class Room</strong></p>
                              <p><strong>Afternoon: Computer Lab - I</strong></p>
                            </td>
                            <td rowspan="2" width="11%">
                              <p><strong>Rs.300/- for Non &ndash; members</strong></p>
                              <p><strong>Rs.200/- for Members </strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Dr.C K.Aravind, Asst. Professor (Sr.Grade)/EEE</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>&nbsp;</strong></p>
                              <p><strong>&nbsp;</strong></p>
                              <p><strong>NI Multisim</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Forenoon: EEG10 - </strong><strong>EEE Class Room</strong></p>
                              <p><strong>Afternoon: Computer Lab - II</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Dr. N.Senthil Kumar, Sr. Prof. &amp; Head / EEE</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td rowspan="5" width="12%">
                              <p><strong>Group III (IE(I) &ndash; ECE, IETE, ISTE &amp; IEEE &amp; Robotic Club)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Machine Learning using Python</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Networks Lab</strong></p>
                            </td>
                            <td rowspan="5" width="11%">
                              <p><strong>Rs. 400/- for Non Members &amp;</strong></p>
                              <p><strong>Rs. 300/- for Members (Student Membership in IETE Students Forum (ISF) /
                                  Institute
                                  of
                                  Engineers (IE)/ISTE)</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr. M.Arun, AP(Sr.)/ECE,</strong></p>
                              <p><strong>MSEC.</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>Xilinx Vivado based SoC Design</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>VLSI Lab</strong></p>
                              <p><strong>(ECE Block)</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr.A.Kamaraj, AP(Sr.)/ECE &amp; Mrs.G.Shobana, AP/ECE, MSEC </strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>PCB and circuit Modelling</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>DSP Lab</strong></p>
                              <p><strong>(ECE Block)</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr. K.Gopalakrishnan,AP/ECE, MSEC</strong></p>
                              <p><strong>Mr. S.Sridhar Raj, AP/ECE, MSEC</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>&nbsp;Embedded System Design with TI Controller</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Embedded Lab</strong></p>
                              <p><strong>(ECE Block)</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr.J.Dani Reagan Vivek, AP/ECE, MSEC</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>LabVIEW for Real World Applications</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Computing Facilities Lab</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Dr.S.SelvaNidhyananthan,</strong></p>
                              <p><strong>ASP/ECE, MSEC</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td rowspan="2" width="12%">
                              <p><strong>Group IV (IE(I) &ndash; CSE &amp; IE(I) &ndash; IT &amp; MCC&nbsp; &amp; CSI
                                  &amp;
                                  Google
                                  Students Club)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Working with Google Cloud Platform(GCP)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>George Boole Lab</strong></p>
                              <p><strong>(CSE Block)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Rs.500/-</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr.C.Soundararajan</strong></p>
                              <p><strong>Senior Dev-Ops Engineer</strong></p>
                              <p><strong>Lymbyc Solutions Pvt.Ltd</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>Animation and virtual reality using blender</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Multimedia Lab</strong></p>
                              <p><strong>(CSE Block)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Rs.500/- </strong></p>
                              <p><strong>&nbsp;</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr.Murugeswaran</strong></p>
                              <p><strong>Tech Lead,</strong></p>
                              <p><strong>ICAT, Chennai</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td rowspan="4" width="12%">
                              <p><strong>Group V (IE(I) &ndash; Mech&amp; SAE &amp; REC)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Welding Techniques for Industrial Applications </strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>MF2 &ndash; Mechanical Class Room</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Rs.350/- per</strong></p>
                              <p><strong>student(for</strong></p>
                              <p><strong>non-ASME</strong></p>
                              <p><strong>members)</strong></p>
                              <p><strong>Rs.300/-</strong></p>
                              <p><strong>per student</strong></p>
                              <p><strong>(for ASME</strong></p>
                              <p><strong>members)</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Dr.R.Rajkumar</strong></p>
                              <p><strong>Senior professor/Mech.</strong></p>
                              <p><strong>Mr.S.Senthil Murugan </strong></p>
                              <p><strong>Asst.Prof. (Sr.Grade)/ Mech</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>Industrial Product Design and Development using CATIA software</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>CAD Lab</strong></p>
                              <p><strong>(Mechanical Block)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Rs. 400/-</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr.N.Vasiraja</strong></p>
                              <p><strong>Asst. Prof. (Sr.G)/Mech.</strong></p>
                              <p><strong>Mr.C.A.K. Arumugam, Asst. Prof. (Sr.G)/Mech.</strong></p>
                              <p><strong>Mr. B.Venkatraman, Asst.Prof./Mech.,</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>Multiphysics on COMSOL Software</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Safety Computer Lab</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Rs.500/- per student</strong></p>
                              <p><strong>Rs.400/- for SAE members</strong></p>
                              <p><strong>&nbsp;</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>SAE In charges</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>Low Cost Automation</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>MF3 &ndash; Mechanical Class Room</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Rs.400/- per</strong></p>
                              <p><strong>student(for</strong></p>
                              <p><strong>non-ASME</strong></p>
                              <p><strong>members)</strong></p>
                              <p><strong>Rs.300/-</strong></p>
                              <p><strong>per student</strong></p>
                              <p><strong>(for ASME</strong></p>
                              <p><strong>members)</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>TVS Training and Services Limited, Chennai</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="12%">
                              <p><strong>&nbsp;</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Solar PV, Solar H<sub>2</sub> &amp; Fuel cell Technology</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Nano tech Seminar hall</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Rs.300/-</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Dr. S.P.Asok</strong></p>
                              <p><strong>Senior professor/Mech.</strong></p>
                              <p><strong>Mr.K.Maheswaran</strong></p>
                              <p><strong>Asst.Prof. (Sr.Grade)/ Mech.</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="12%">
                              <p><strong>Group VI (IE(I) &ndash; Bio.Tech)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Hands on training on &ldquo;2D Gel Electrophoresis&rdquo;</strong></p>
                              <p><strong>&nbsp;</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Gene Expression Lab (Bio Tech.)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Rs.500/-</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mrs.R.Princess, AP(Sr.G)/BT</strong></p>
                              <p><strong>Mr.M.Sankar, AP(Sr.G)/BT</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="12%">
                              <p><strong>Group VII (Maths Club, Graph Theory Research Forum &amp; Science Forum)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>An overview in Quantitative Aptitude and Mathematical Applications</strong></p>
                              <p><strong>&nbsp;</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>AJ18 smart Class room &ndash; AJ Block</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>External participants - 200</strong></p>
                              <p><strong>Non-member &ndash; 200</strong></p>
                              <p><strong>Member &ndash; 100</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Dr. S. Murali Krishnan</strong></p>
                              <p><strong>Assistant Professor and Head,</strong></p>
                              <p><strong>Department of Mathematics,</strong></p>
                              <p><strong>Anna University College of Engineering</strong></p>
                              <p><strong>Ramanathapuram</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td rowspan="4" width="12%">
                              <p><strong>Group VIII (MCA Association)</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>Cross Platform Mobile Application Development</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>MCA Computer Lab</strong></p>
                              <p><strong>(CSE Block)</strong></p>
                            </td>
                            <td rowspan="2" width="11%">
                              <p><strong>Rs.150/- for Bachelor of Arts &amp; Science</strong></p>
                              <p><strong>Rs.250/- for Master of Arts and Science and Engg. Students</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr.S.S.Akilan,</strong></p>
                              <p><strong>AP(Sr.)/MCA,</strong></p>
                              <p><strong>MSEC</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>Web Services and Cloud Computing </strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>COF 07 &ndash; (CSE Block)</strong></p>
                              <p><strong>&nbsp;</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr.K.Kanagaraj,</strong></p>
                              <p><strong>AP(Sr.)/MCA</strong></p>
                              <p><strong>MSEC</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>Software testing using Automated Tools</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>COF 06 &nbsp;&ndash; (CSE Block)</strong></p>
                              <p><strong>&nbsp;</strong></p>
                            </td>
                            <td rowspan="2" width="11%">
                              <p><strong>Rs.150/- for Bachelor of Arts &amp; Science</strong></p>
                              <p><strong>Rs.250/- for Master of Arts and Science &amp; Engineering Students</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr.V.Neethidevan,</strong></p>
                              <p><strong>AP(Sl.Grade)/MCA</strong></p>
                              <p><strong>MSEC</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="11%">
                              <p><strong>Big Data Analytics</strong></p>
                            </td>
                            <td width="11%">
                              <p><strong>COF 05 &nbsp;&ndash; (CSE Block)</strong></p>
                              <p><strong>&nbsp;</strong></p>
                            </td>
                            <td width="23%">
                              <p><strong>Mr.S.Amirtharaj,</strong></p>
                              <p><strong>AP(Sr.)/MCA</strong></p>
                              <p><strong>MSEC</strong></p>
                            </td>
                          </tr>
                          <tr>
                            <td width="8%">
                              <p><strong>5.00 to 6.00 PM</strong></p>
                            </td>
                            <td colspan="7" width="91%">
                              <p><strong>Cultural Programme by MSEC Fine arts Club (Venue MCC)</strong></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="train">
                <div class="card">
                  <div class="card-content">
                    <div class="card-header">
                      Workshop Schedule
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>