<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Contact Us</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/user/home']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li class="breadcrumb-item active">Contact Us
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="content-types">
        <div class="row match-height justify-content-md-center">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <h3 class="card-title text-center text-uppercase">Contact Us</h3>
                  <div class="divider"></div>
                </div>
                <div class="card-body text-center lineheight3">
				<div class="card-body text-center lineheight3">
                  <h1 class="lineheight3"><strong>Mepco Schlenk Engineering College (Autonomous), Sivakasi</strong></h1> 
       
                </div>
				  <li style="list-style-type:none"><h4 class="text-muted">
				 Email us at : gyanmitra19@mepcoeng.ac.in </h4>
				 </li>
                <ul style="list-style-type:none">
                    <li><h4 class="text-muted">Mr. J. Maruthupandi AP(Sr. Grade) , Department of IT<br/>90800 55715</h4></li>
						
                    <li><h4 class="text-muted">Mr. C. Kalyanasundaran AP (Sr. Grade) , Department of ECE <br/>99420 13290</h4></li>
						
            
                </ul>
				
				
				
				
             
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>