<div class="app-content content">
  <div class="content-wrapper">
    <div class="text-center">
      <h1>Contact Us</h1>
    </div>
    <hr />
    <br />
    <div class="wrapper">
      <div class="card">
        <div class="info">
          <h1 class="white">Mr. J. Maruthupandi AP (Sr. Grade)</h1>
          <p>Department of IT</p>
          <p>Mobile No: +91 90800 55715</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h1 class="white">Mr. C. Kalyanasundaran AP (Sr. Grade)</h1>
          <p>Department of ECE </p>
           <p>Mobile No: +91 99420 13290</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h1 class="white">For Futher Queries</h1>
          <p>Mail us at <strong>gyanmitra19@mepcoeng.ac.in</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
