<div class="app-content content">
  <div class="content-wrapper">

    <div class="wrapper">
      <div class="card">
        <div class="info">
          <h1>Mountain</h1>
          <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
          <button>Read More</button>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h1>Road</h1>
          <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
          <button>Read More</button>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h1 class="white">Protester</h1>
          <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
          <button>Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>
