<div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted col-12">
  <div *ngIf="!paymentConfirmed">
    <div *ngIf="isCartConfirmed && !paymentSent">
      <div class="col-12 ">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-bg-gradient-x-blue-cyan border-white border-2 float-right" (click)=payOnline()>Pay
              Online</button>
          </div>
          <div class="col-6">
            <button class="btn btn-bg-gradient-x-blue-cyan border-white border-2  float-right" data-toggle="modal"
              data-target="#DDModal">Pay
              through Demand Draft</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
