<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <span class="content-header-left h3 col-md-4 col-4 mb-4">
        <span class="content-header-title">Workshops
        </span>
      </span>
      <span class="content-header-left col-md-4 col-4 mb-4">
        <select id="deptSelect" [(ngModel)]="searchText" class="custom-select float-right">
          <option class="custom-select" *ngFor="let dept of departments" value="{{dept.name}}">
            {{dept.name}}
          </option>
        </select>
      </span>
      <span class="content-header-right col-md-4 col-4">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/user/home']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li class="breadcrumb-item active">Workshops
              </li>
            </ol>
          </div>
        </div>
      </span>
    </div>
    <br />
    <div class="content-body">
      <section id="content-types">
        <div class="row match-height">
          <div class="col-4" *ngFor="let workshop of workshops | filterEventsBasedOnDepartment : searchText">
            <div class="card pull-up">
              <div class="card-body">
                <h3 class="card-title">{{workshop.title}} <span class="card-title activator grey-text text-darken-4 float-right"><i
                      class="fas fa-ellipsis-v right"></i></span></h3>
                <h6 class="card-subtitle text-muted">Department of {{workshop.department_id.name}}</h6>
              </div>
              <img class="activator" src="http://localhost:3000/assests/images/events/{{workshop.image_name}}">
              <div class="card-body">
                {{workshop.description}}
              </div>
              <div class="card-body">
                <div class="container">
                  <div class="row">
                    Resource Person
                  </div>
                  <div class="row">
                    {{workshop.resource_person}}
                  </div>
                </div>
              </div>
              <div class="card-body">
                Contact <p class="card-text">
                  <a href="mailto:{{workshop.contact_email}}">{{workshop.contact_email}}</a>
                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Pre Requesites<i class="fas fa-times float-right"></i></span>
                {{workshop.rules}}
                <hr />
                <h4>Timing</h4>
                <br />
                Date : {{workshop.event_date | date}} <br />
                {{workshop.start_time}} -
                {{workshop.end_time}}<br />
              </div>
              <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                <span class="float-left"> {{workshop.event_date | date }}</span>
                <span class="float-right">
                  <div *ngIf="authService.isLoggedIn()">
                      <div *ngIf="statusesLoaded">
                      <div *ngIf="!isCartConfirmed">
                        <button type="button" *ngIf="!statuses[workshop._id].registered" class="btn btn-outline-primary"
                          (click)="selectWorkshop(workshop._id)" style="width:100%">
                          Register Now <i class="la la-angle-right"></i>
                        </button>
                        <button type="button" *ngIf="statuses[workshop._id].registered" class="btn btn-sm round btn-bg-gradient-x-purple-red"
                          style="width:100%">
                          <span *ngIf="statuses[workshop._id].msg != 'Already Registered!'">
                            Parallel Workshop Registered
                          </span>
                          <span *ngIf="statuses[workshop._id].msg == 'Already Registered!'">
                            Already Registered!
                          </span>
                        </button>
                      </div>
                    </div>
                    <div *ngIf="isCartConfirmed">
                      <button type="button" class="btn btn-outline-danger" style="width:100%">
                        Cart already Confirmed
                      </button>
                    </div>
                  </div>
                  <div *ngIf="!authService.isLoggedIn()">
                    <a class="btn btn-lg btn-glow btn-bg-gradient-x-blue-purple-2" style="width:100%" [routerLink]="['/user/login']"
                      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Login to Register</a>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
