<br>
<div class="content-body">
  <section id="content-types">
    <div class="row match-height justify-content-md-center">
      <div class="col-xl-6 col-md-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <h4 class="card-bordered">{{ this.content1 }}</h4>
              <h4 class="card-bordered">{{ this.content2 }}</h4><hr>
              <button type="submit" class="btn btn-outline-blue right" (click)="verifyUser()">Resend</button><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>