<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">About</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/user/home']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li class="breadcrumb-item active">About
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="content-types">
        <div class="row match-height justify-content-md-center">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <h3 class="card-title text-center text-uppercase">About Us</h3>
                  <div class="divider"></div>
                </div>
                <div class="card-body text-center">
                  <strong>Mepco Schlenk Engineering College (Autonomous), Sivakasi</strong> <h4>Mepco
                  Schlenk
                  Engineering
                  College
                  (Autonomous), Sivakasi is one of the leading
                  institutions in India, towering high in academic
                  excellence and research pursuits
                  ever since its
                  inception on 1984.
                  College is accredited with “A”
                  Grade by National Assessment and Accreditation
                  Council (NAAC) of UGC, New Delhi.
                  The Institute
                  offers under graduate programs in 7 disciplines
                  and
                  post
                  graduate
                  programs
                  in
                  12
                  specializations. It has collaborations with leading
                  Industrial, Academic and Research organizations
                  in India and
                  abroad.
                  The college is ISO 9001:2008 certified
                  and
                  all its
                  UG Programs
                  are accredited by NBA
                  under
                  Tier I category
                  .
                  Our College
                  got 5th rank at
                  National level in Top Engineering Colleges of
                  Eminence
                  category
                  in
                  the
                  CSR
                  -
                  GHRDC
                  Engineering Colleges Survey June 2017 and 30th
                  rank for National Level Engine
                  ering Colleges
                  including IITs, NITs by Outlook Survey, June 2017.
                </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>