<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">About</h3>
      </div>
    </div>
    <div class="content-body">
      <section id="content-types">
        <div class="row match-height justify-content-md-center">
          <div class="col-xl-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <h3 class="card-title text-center text-uppercase">About MEPCO</h3>
                  <div class="divider"></div>
                </div>
                <div class="card-body">
                    <strong class="text-uppercase">Mepco Schlenk Engineering College (Autonomous), Sivakasi</strong>