<div class="app-content content">
  <div class="content-wrapper">
    <div class="continer">

      <div>
        <label class="project-title">GYANMITRA'19</label>
        <label class="project-name">Meet us in</label></div>
      <div class="counter">
        <div class="days">
          <div class="value">{{days}}</div>
          <span>Days</span>
        </div>

        <div class="hours">
          <div class="value">{{hours}}</div>
          <span>Hours</span>
        </div>

        <div class="minutes">
          <div class="value">{{minutes}}</div>
          <span>Minutes</span>
        </div>

        <div class="seconds">
          <div class="value">{{seconds}}</div>
          <span>Seconds</span>
        </div>

      </div>
    </div>
    <app-how-to-reach-us></app-how-to-reach-us>
  </div>
</div>