<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Manage Events</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Event
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="content-types">
                <div class="row match-height justify-content-md-center">
                    <div class="col-xl-6 col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title">Event</h4>
                                    <h6 class="card-subtitle text-muted">Add Event</h6>
                                </div>
                                <div class="card-body">
                                    <form class="form" [formGroup]="eventForm" (ngSubmit) = onSubmit(eventForm)>
                                      <input type="hidden" formControlName="_id">
                                      <input type="hidden" formControlName="__v">
                                        <div class="form-group">
                                            Event Name 
                                            <input type="text" class="form-control" placeholder="Event Name" formControlName="title" value=" " >
                                            <br />
                                            <div class="form-group">
                                                <div class="row">   
                                                        <div class="col-6">
                                                                Conducted By 
                                                                <select class="form-control" formControlName="department_id" >
                                                                    <option disabled value="">Department</option>
                                                                    <option *ngFor="let department of departments"  value={{department._id}}>{{department.name}}</option>
                                                                </select>
                                                        </div>
                                                        <div class="col-6">
                                                                Event Category 
                                                                <select class="form-control" placeholder="Category" formControlName="category_id" ng-model="selectedCategory">
                                                                        <option *ngFor="let category of categories"  value={{category._id}} >{{category.name}}</option>
                                                                </select>
                                                        </div>
                                                </div>
                                            </div>
                                            Description 
                                            <textarea class="form-control" placeholder="Describe the Event Here" formControlName="description" [ngClass]="{'is-invalid': submitted && f.title.errors}" >
                                            </textarea>
                                            <br />
                                            Rules of The Event
                                            <textarea class="form-control" placeholder="Rules" formControlName="rules" [ngClass]="{'is-invalid': submitted && f.title.errors}" >
                                            </textarea>
                                            <br />
                                            Starting Time 
                                            <input type="time" class="form-control" value="" placeholder="Start Time" formControlName="start_time"  >
                                            <br />
                                            Ending Time
                                            <input type="time" class="form-control" value="" placeholder="Ending Time" formControlName="end_time"  >
                                            <br />
                                            Event Date
                                            <input type="date" class="form-control" value="" placeholder="Event Date" formControlName="event_date"  >
                                            <br />
                                            Image
                                            <input type="text" class="form-control" value="" placeholder="Event Image" formControlName="image_name" />
                                            <br />
                                            Prelims
                                            <input type="text" class="form-control" placeholder="Prelims" formControlName="prelims"  >
                                            <br />
                                            Round 1
                                            <input type="text" class="form-control" placeholder="Round 1" formControlName="round_1"  >
                                            <br />
                                            Round 2
                                            <input type="text" class="form-control" placeholder="Round 2" formControlName="round_2"  >
                                            <br />
                                            Finals
                                            <input type="text" class="form-control" placeholder="Finals" formControlName="finals"  >
                                            <br />
                                            Minimum Members
                                            <input type="number" class="form-control" placeholder="Minimum Members" formControlName="min_members"  >
                                            <br />
                                            Maximum Members
                                            <input type="number" class="form-control" placeholder="Maximum Members" formControlName="max_members"  >
                                            <br />
                                            Maximum Limit
                                            <input type="number" class="form-control" placeholder="Maximum Limit" formControlName="max_limit"  >
                                            <br />
                                            Contact Email Address
                                            <input type="email" class="form-control" placeholder="Contact mail Address" formControlName="contact_email"  >
                                            <br />
                                            Venue
                                            <input type="text" class="form-control" placeholder="Venue" formControlName="venue"  >
                                            <br />
                                            Amount
                                            <input type="number" class="form-control" placeholder="Amount" formControlName="amount"  >
                                            <br />
                                            <span  class="btn left" [ngClass]="{'btn-danger' : allow_gender_mixing , 'btn-success' : !allow_gender_mixing }">
                                                <span (click)="changeGenderMixing()" *ngIf="allow_gender_mixing">
                                                    Disable Gender Mixing
                                                </span>
                                                <span (click)="changeGenderMixing()" *ngIf="!allow_gender_mixing">
                                                    Enable Gender Mixing
                                                </span>
                                            </span>                                            

                                       </div>
                                        <div class="form-action left row">
                                            <div class="col">
                                                <span (click)="createForm()" class="btn btn-outline-danger left">Reset</span>
                                            </div>
                                            <div class="col">
                                                <button type="submit" class="btn btn-outline-success right">{{this.Button}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Events</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                            Search : <input [(ngModel)]="searchText" placeholder="Search Events" class="form-control">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Sl. No</th>
                                                <th>Event Name</th>
                                                <th>Update</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let event of events | searchfilter : searchText ; let i = index;   ">
  
                                                <th scope="row">{{i+1}}</th>
                                                <td>{{event.title}}</td>
                                                <td>
                                                    <div class="fonticon-wrap icon-shadow icon-shadow-warning">
                                                        <a (click)="updateEvent(event._id)"> <i class="la la-pencil la-2x"></i></a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="fonticon-wrap icon-shadow icon-shadow-danger" (click)="deleteCategory(event._id)">
                                                        <a> <i class="la la-trash la-2x"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>