<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">GyanMitra18</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/user/home']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li class="breadcrumb-item active">GyanMitra18
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="content-types">
        <div class="row match-height justify-content-md-center">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <h3 class="card-title text-center text-uppercase">Gallery</h3>
                  <div class="divider"></div>
                </div>
                <div class="card-body text-center">

                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="row match-height justify-content-md-center">
            <div class="col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <h3 class=" size2 card-title text-center text-uppercase "><i class="fas fa-medal"></i> Winners <i class="fas fa-medal"></i></h3>
                    <div class="divider"></div>
                  </div>
                  <div class="card-body text-center">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Sl. No</th>
                            <th>Domain</th>
                            <th>College</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>
                              Computer Science
                            </td>
                            <td>
                              Kamaraj
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>